---
---

@import "{{ site.theme }}";

header {
    a {
        color: #9ddcff;
        font-size: 1.2em;
        &:hover {
            color: #fff;
            font-weight: bold;
        }
    }
    nav {
        ul {
            list-style: none;
            li {

                display: inline;
                margin-right: 20px;
            }
        }
    }
}